@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.main {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
}

.title {

  margin: 0;
  text-transform: uppercase;
  font-size: 60px;
}

.content{
  display: flex;
gap: 350px;
}