.filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.label {
  font-size: 20px;
  font-weight: 700;
}
.input {
    
  width: 236px;
  height: 18px;
  padding: 5px;
  outline: 2px solid teal;
  outline-offset: 2px;
  border: none;
  border-radius: 8px;
}

input:focus {
  outline: 2px solid rgba(199, 85, 43, 0.594);
}
