.nav-container {
  display: flex;
  align-items: center;
  gap: 18px;
}
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

.nav-link:hover {
  color: teal;
}

.nav-link:focus {
  color: teal;
}
.nav-btn {
  background-color: transparent;
  border: none;
}

