.profile{
  display: flex;
  gap: 10px;
  align-items: center;
}

.item {
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid rgba(0, 128, 128, 0.4);
}
