.section {
  padding: 0px 15px 20px 60px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.title {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}
